build/
cmake_install.cmake
CMakeCache.txt
CMakeLists.txt
CMakeFiles/
CMakeScripts/
Debug/
Makefile
*.xcodeproj/
*.build/
*.out
**/test/catch.hpp
**/test/tests-main.cpp
!.bootstrap/test/tests-main.cpp
!.bootstrap/CMakeLists.txt
