go 1.19

use (
	./series
	./protein-translation
	./armstrong-numbers
	./difference-of-squares
	./rna-transcription
	./space-age
	./bob
	./anagram
	./two-fer
	./etl
	./accumulate
	./tree-building
	./crypto-square
	./gigasecond
	./largest-series-product
	./list-ops
	./tournament
	./reverse-string
	./triangle
	./scrabble-score
	./hello-world
	./leap
	./isogram
	./hamming
	./luhn
	./darts
	./grains
	./raindrops
	./acronym
	./robot-name
	./word-count
	./flatten-array
	./pangram
	./clock
	./parallel-letter-frequency
)
